# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NUXT_BACKEND_PASSWORD = "80d42cfb-xxxx-yyyy-zzzz-e3237d9027e9"
NUXT_PUBLIC_USERNAME = "apps"
NUXT_PUBLIC_PASSWORD = "77qxqa91b8gi49zt" # 16 characters required(In static version)
NUXT_PUBLIC_APP_KEY = "xxxxxxxxxxxxxxxx" #16chars
NUXT_PUBLIC_PARAM_DATA_MODE = false
